body {
    background: #FFCF23;
    font-family: 'Russo One', sans-serif !important;
}

.homepage {
    background-color: black !important;
    background-size: cover !important;
    background-image: url(../images/bg.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #2D2D2D !important;
    border-color: #EDB500 !important;
}

.navbar-brand {
   color: #FFFFFF !important;
   font-size: 1.5em !important;
}

.nav.navbar-nav li a {
   color: #FFFFFF !important;
 }

.nav.navbar-nav a:hover {
 color: #9A9A9A !important;
 background-color: transparent !important;
}

.dropdown-toggle {
    color: #FFFFFF !important;
}

.dropdown-toggle:hover {
    color: #9A9A9A !important;
    background-color: transparent !important;
    background-image: none !important;
}

.dropdown {
    padding-top: 5px !important;
}

.logout {
    padding-top: 15px !important;
}

#selection {
    position: relative;
    margin: auto;
    padding-left: 150px;
    width: 50%;
    margin-top: -10px;
    margin-bottom: -30px;
    z-index: 20;
}

.select-btn {
    margin: 5px !important;
}

.btn-primary, .btn-de:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    border-color: #2D2D2D;
}

#stop {
    position: relative;
    top: 605px;
    left: 200px;
}

#play {
    position: absolute;
    top: 605px;
    left: 200px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width:45%;
}

#base {
    position: absolute;
    top: 0;
    left: 0;
}

#mid {
    position: absolute;
    top: 0;
    left: -5px;
    will-changge: contents;
    will-change: left;
}

#queue {
    position: absolute;
    top: 115px;
    left: 285px;
    will-change: contents;
    will-change: left;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
}

#animated-play {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: playAnimation;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes playAnimation {
    0% {left: 0;}
    100% {left: -190px;}
}

#animated-reset {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: resetAnimation;
    animation-duration: 3s;
    animation-play-state: paused;
}

@keyframes resetAnimation {
    /* Need to get left position and set */
    0% {left: 0;} 
    100%{left: 0;}
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

#canvas-modal-title {
    display: inline;
    padding-right: 10px;
}

#saveCanvas {
    margin-left: 10px;
}

.playables {
    padding: 10px;
}

.image-container {
    position: relative;
    display: inline;
}

.heart-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    top: -80px;
    right: 10px;
}

#uploadImage {
    margin-top: 15px;
}

#canvas {
    margin: 20px 25%;
    width: 50%;
}

#canvas-tools {
    margin: auto;
    width: 25%;
}

#octaveGuide {
    position: relative;
    top: -670px;
    left: -35px;
    margin-bottom: -645px;
}

.y-axis {
    position: relative;
    display: inline-block;
}

.x-axis {
    position: relative;
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: left top 0;
}

#high-label {
    top: -610px;
    left: 140px;
}

#freq-label {
    top: -300px;
    left: 100px;
}

#low-label {
    top: -30px;
    left: -20px;
}

#start-label {
    top: -20px;
    left: -35px;
}

#time-label {
    top: -20px;
    left: 80px;
}

#end-label {
    top: -20px;
    left: 215px;
}

.carousel-inner img {
  margin: auto;
}

.about-image {
    height: 200px;
}

#murzin {
    margin: auto;
    width: 75%;
}

#glinka-ans {
    margin: auto;
    width: 65%;
}

.carousel-inner .item img {
  /*position: absolute;*/
  top: 50%;
  left: 35%;
  max-height: 400px;
  width: auto;
}