body {
    /*background-color: #F9D749 !important;*/
    background: linear-gradient(to right, #FCDC67, #EDB500);
    font-family: 'Russo One', sans-serif !important;
}

.navbar {
    background-color: #2D2D2D !important;
    border-color: #8A4134 !important;
}

.navbar-brand {
   color: #FFFFFF !important;
   font-size: 1.5em !important;
}

.nav.navbar-nav li a {
   color: #FFFFFF !important;
 }

.nav.navbar-nav a:hover {
 color: #9A9A9A !important;
 background-color: transparent !important;
}

.dropdown-toggle {
    color: #FFFFFF !important;
}

.dropdown-toggle:hover {
    color: #9A9A9A !important;
    background-color: transparent !important;
    background-image: none !important;
}

.dropdown {
    padding-top: 5px !important;
}

#selection {
    position: relative;
    margin: auto;
    width: 30%;
}

.btn-primary, .btn-de:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #A01809 !important;
}

#stop {
    position: relative;
    top: 0;
    left: 0;
}

#play {
    position: absolute;
    top: 0;
    left: 0;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: 50%;
}

#base {
    position: absolute;
    top: 0;
    left: 0;
}

#mid {
    position: absolute;
    top: 0;
    left: 0;
    will-changge: contents;
    will-change: left;
}

#queue {
    position: absolute;
    top: 121px;
    left: 305px;
    will-change: contents;
    will-change: left;
}


#animated-play {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: playAnimation;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes playAnimation {
    0% {left: 0;}
    100% {left: -180px;}
}

#animated-reset {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: resetAnimation;
    animation-duration: 3s;
    animation-play-state: paused;
}

@keyframes resetAnimation {
    /* Need to get left position and set */
    0% {left: 0;} 
    100%{left: 0;}
}

#top {
    position: absolute;
    top: 0;
    left: 0;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

#canvas-modal-title {
    display: inline;
    padding-right: 10px;
}

#saveCanvas {
    margin-left: 10px;
}

.playables {
    padding: 10px;
}

.image-container {
    position: relative;
    display: inline;
}

.heart-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    top: -80px;
    right: 10px;
}

#uploadImage {
    margin-top: 15px;
}

#canvas {
    margin: 20px 25%;
    width: 50%;
}

#canvas-tools {
    margin: auto;
    width: 25%;
}

.carousel-inner img {
  margin: auto;
}

.about-image {
    height: 200px;
}

#murzin {
    margin: auto;
    width: 75%;
}

#glinka-ans {
    margin: auto;
    width: 65%;
}

.carousel-inner .item img {
  /*position: absolute;*/
  top: 50%;
  left: 35%;
  max-height: 400px;
  width: auto;
}