% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}
<h2>What is the ANS?</h2>
<p>The ANS synthesizer is a photoelectronic musical instrument created by Russian engineer Evgeny Murzin between 1937 and 1958. The ANS is named in honor of the composer Alexander Nikolayevich Scriabin. The technological basis of the ANS utilizes the method of graphical sound recording used in cinematography (developed concurrently in Russia and USA), making it possible to obtain a visible image of a sound wave and to synthesize sound from an artificially drawn sound spectrogram. 
<br>
<br>
The ANS utilizes sine waves printed on five glass discs, each roughly the same size as a CDR. Each disc has 144 individual waveforms printed onto it, for a total of 720 microtones spanning 10 octaves (yielding a resolution of 1/72 octave, or 16.17 cents). The modulated light from these discs is then projected onto the back of the synthesizer's interface. These are arranged vertically, with low frequencies at the bottom and high frequencies at the top.
<br>
<br>
The user interface consists of a glass plate covered in non-drying opaque black mastic which is scratched away, thus allowing light to pass through at that point. In front of the glass plate sits a vertical bank of twenty photocells that send signals to twenty amplifiers and bandpass filters, each with its own gain adjust control. It is akin to a ten-octave equalizer with two knobs per octave. The ANS is fully polyphonic and will generate all 720 pitches simultaneously (a vertical scratch would accomplish this).
<br>
<br>
After several years at the Theremin Center, the ANS is now located in the Glinka State Central Museum of Musical Culture in Moscow. There is only one ANS in existence- the original was destroyed. 
<br>
<br>
You can hear the sounds of the ANS in Andrei Tarkovsky's movies Solaris, The Mirror and Stalker. In 2004, British experimental group Coil released a boxed set of drone music performed on the ANS entitled CoilANS.
</p>
{% endblock %}