<!doctype html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <title>Virtual ANS</title>
  {% block head %} put things needed in head here {% endblock %}
 <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
  <h1>Virtual ANS</h1>
  <a href="/">Home</a>
  <a href="/about">About</a>
  {% if 'user_id' in session %}
    <form action="/logout" method="POST">
      <input type="submit" id="logout" value="Log Out">
    </form>
    <a href="/user-page/{{ session['user_id'] }}">Profile</a>
  {% else %}

    <a href="/login">Log In</a>
    <br>
    <a href="/register">Register</a>
  {% endif %}

    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul style="list-style-type: none; color: magenta;">
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>