{% extends 'base.html' %}
{% block head %}
<script src="/static/js/flocking/flocking-all.js"></script>
<script src="/static/js/virtual_ans.js"></script>
{% endblock %}

{% block content %}

<button id="myButton">Play It!</button>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$('#myButton').on('click', function () {
    var environment = flock.init();
    environment.start();
    // octave_1.play();
    // octave_2.play();
    // octave_3.play();
    octave_4.play();
    octave_5.play();
    // octave_6.play();
    // octave_7.play();
    octave_8.play();
    // octave_9.play();
    // octave_10.play();
});
</script>

{% endblock %}