{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}

<div id="selection">
  <br>
    <button id="selectImageBtn">Select Image</button>
    <button id="uploadFormBtn">Upload Image</button>
    <button id="canvasBtn">Draw Image</button>
</div>


<div class="parent">
  <img id="base" src="/static/images/base.png" height="750">
  <img id="mid" src="/static/images/mid.png" height="750">
  <img id="queue"src="/static/images/black.png"  height="250px">
  <img id="top" src="/static/images/top.png" height="750">
  <img id="playButton" src="/static/images/playbutton.png" height="750">
</div>

<!-- Play button -->
<form id="play" style="display: none;">
  <input type="hidden" id="img_id_in" name="img_id">
  <input type="submit" value="Play">
</form>

<!-- *********************************************************************** -->
<!-- Play button in ANS interface sends img_id to route that gets pixel data and passes to JavaScript -->
<div id="selectImageModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeSelect">&times;</span>
      <div id="images">
        <!-- Private playable images -->
          {% if 'user_id' in session %}
            <button id="userImages">Your Images</button>
            <button id="publicImages">Public Images</button>
          {% endif %}

        <!-- User's playable images (pre-analyzed) -->
        <div id="user-playables" style="display: none;">
          {% for img in user_imgs %}
            <img src={{ img.img_url }} class="playables" id={{ img.img_id }} height="200px">
          {% endfor %}
        </div>

        <!-- Public playable images (pre-analyzed) -->
        <div id="public-playables">
          {% for img in imgs %}
            <img src={{ img.img_url }} class="playables" id={{ img.img_id }} height="200px">
          {% endfor %}
        </div>


      </div>
  </div>
</div>

<!-- Modal Scripts -->
<script src="/static/js/select_image.js"></script>


<!-- *********************************************************************** -->
<!-- Upload image form -->
<div id="uploadFormModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeUpload">&times;</span>
      <div id="uploadForm">
        <form action="/process-image" enctype="multipart/form-data" method="POST">
          <input id="image-file" type="file" name="pic" accept="image/*"/>

          <br>
          <input type="radio" name="privacy" value="private">Private
          <input type="radio" name="privacy" value="public" checked>Public
          <br>
          <input id="uploadImage" type="submit"/>
        </form>
      </div>
  </div>
</div>


<!-- Modal Scripts -->
<script src="/static/js/upload_form.js"></script>

<!-- *********************************************************************** -->
<!-- Canvas -->
<div id="myCanvasModal" class="modal">
  <div id="modal-content" class="modal-content">
    <span class="close" id="closeCanvas">&times;</span>
      <div id="myCanvas">
        <canvas id="canvas" width="400" height="600" style="border:1px solid #000000; background-color: black;"></canvas>

        <p class="toolList">
            <button id="clearCanvas" type="button">Clear</button>
            <button id="pen" type="button">Pen</button>
            <button id="eraser" type="button">Eraser</button>
            <button id="saveCanvas" type="button">Save</button>
        </p>
    </div>
  </div>
</div>

<!-- Canvas and Modal Scripts -->
<script src="/static/js/drawing_canvas.js"></script>


<script src="/static/js/flocking/flocking-all.js"></script>
<script src="/static/js/virtual_ans.js"></script>
{% endblock %}