{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}

<h2>What is the ANS?</h2>
<p>The ANS synthesizer is a photoelectronic musical instrument created by Russian engineer Evgeny Murzin between 1937 and 1958.
</p>
<!-- In front of the glass plate sits a vertical bank of twenty
photocells that send signals to twenty amplifiers and bandpass filters, each with its own gain adjust control. It is akin to a ten-octave equalizer with two knobs per octave -->


<!-- Play button in ANS interface sends img_id to route that gets pixel data and passes to JavaScript -->
<div>
    <!-- <img src=""> -->
<form id="play">
    <input type="number" id="img_id_in" name="img_id">
    <input type="submit" value="Play">
</form>
</div>

<!-- 
<button id="playButton">Play It!</button>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$('#playButton').on('click', function () {
    let environment = flock.init();
    environment.start();
    virtual_ans.play();
});
</script>
 -->

<br>
<br>
<form action="/process-image" enctype="multipart/form-data" method="POST">
    <input type="file" name ="pic" accept="image/*"/>
    <br>
    <input type="submit"/>
</form>
<br>



<div id="images">
    {% for img in imgs %}
    <img src={{ img.img_url }} class="playables" id={{ img.img_id }} height="200px">
    {% endfor %}
</div>

<script>
    $('.playables').on('click', function() {
        //get image id, load image in interface, pass image id to hidden input
        let imgId = $(this).attr("id");
        $("#img_id_in").val(imgId);
    });
</script>

<script src="/static/js/flocking/flocking-all.js"></script>
<script src="/static/js/virtual_ans.js"></script>
{% endblock %}